@import '/src/app/styles/colors.scss';

.Avatar {
    transition: all 0.2s ease-in;
    cursor: pointer;
    &:hover {       
        background-color: $primary-border-hover;
    }
}

.Content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 200px;
}