.Form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.InputContainer {
    width: 100%;
    padding: 8px;
}

.Input {
    width: 100%;
}


.SubmitButton {
    margin: 12px 0;
}
